{{ define "main" }}

<section class='page container mt-5'>

    <div class='row justify-content-center'>

        <div class='col-lg-8'>
            <h1 class="title">{{ .Title }}</h1>


            <div>
              <div class='d-flex justify-content-between border-bottom mb-1'>
                <span>{{ i18n "tutorial" }}</span>
                <span>{{ i18n "difficulty" }}</span>
              </div>

              {{ range sort .Pages "Params.rate" }}
                <div class='d-flex justify-content-between mb-2'>
                  <span>
                    <a href="{{ .Permalink }}">
                      {{ .Title }}
                    </a>
                  </span>
                  <span>
                    {{ .Params.rate }}
                  </span>
                </div>
              {{ end }}
            </div>

            {{ .Content }}

            {{/* 
            <h3>Aaaand...</h3>
            <ul>
                {{ range .Data.Pages -}}
                    <li>
                        <a href="{{ .Permalink }}">
                            <span>
                                {{ .Title }}
                            </span>
                            {{ if not .Date.IsZero }}
                                <time>
                                    {{- .Date.Format (.Site.Params.dateform | default "Jan 02, 2006") -}}
                                </time>
                            {{end}}
                        </a>
                    </li>
                {{- end }}
            </ul>
            */}}


        </div>

    </div>

</section>

{{ end }}
