{{ define "main" }}

<section class="page container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="page-title">{{ .Title }}</h1>
        </div>
    </div>

    <div class="recent-release mb-5 mt-4">
        {{ range first 1 (where .Site.RegularPages "Type" "download") }}
        <div class='dl-buttons' style="text-align: center;">
            <div class='mb-3'>{{ i18n "indexDownloadText" . }} {{ .Params.version }} {{ i18n "releasedOn" . }}  
                    {{ if and (.IsTranslated) (eq .Lang "fr") }}
                        {{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}.
                    {{ else }}
                        {{ .Date.Format "January 2, 2006" }}.
                    {{ end }}
                <small class='text-nowrap'>(<a href="{{ .Permalink }}">{{ i18n "releaseNotes" . }}</a>)</small>
            </div>

            {{ partial "download-buttons.html" . }}

            {{/* {{ with .Params.linux_appimage }} */}}
            {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
            {{/*     <span> */}}
            {{/*         <span class='dl-type'>{{ i18n "appImage" . }}</span> */}}
            {{/*         <span class='dl-os'>{{ i18n "linux" . }}</span> */}}
            {{/*     </span> */}}
            {{/* </a> */}}
            {{/* {{ end }} */}}

            {{/* {{ with .Params.linux_binary }} */}}
            {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
            {{/*     <span> */}}
            {{/*         <span class='dl-type'>{{ i18n "binary" . }}</span> */}}
            {{/*         <span class='dl-os'>{{ i18n "linux" . }}</span> */}}
            {{/*     </span> */}}
            {{/* </a> */}}
            {{/* {{ end }} */}}

            {{/* {{ with .Params.windows_binary }} */}}
            {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
            {{/*     <span class='dl-type'>{{ i18n "64bit" . }}</span> */}}
            {{/*     <span class='dl-os'>{{ i18n "windows" . }}</span> */}}
            {{/* </a> */}}
            {{/* {{ end }} */}}

            {{/* {{ with .Params.windows_xp_binary }} */}}
            {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
            {{/*     <span class='dl-type'>{{ i18n "32bit" . }}</span> */}}
            {{/*     <span class='dl-os'>{{ i18n "windowsXp" . }}</span> */}}
            {{/* </a> */}}
            {{/* {{ end }} */}}

            {{/* <script type="module" src="https://get.microsoft.com/badge/ms-store-badge.bundled.js"></script> */}}
            {{/* <style>ms-store-badge::part(img) { max-height: 36px; vertical-align: middle; }</style> */}}
            {{/* <ms-store-badge */}}
            {{/*   productid="XPDM23ZQ9CCLVF" */}}
            {{/*   window-mode="full" */}}
            {{/*   animation="on"> */}}
            {{/* </ms-store-badge> */}}

            {{/* {{ with .Params.mac_binary }} */}}
            {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
            {{/*     <span class='dl-type'>{{ i18n "64bit" . }}</span> */}}
            {{/*     <span class='dl-os'>{{ i18n "mac" . }}</span> */}}
            {{/* </a> */}}
            {{/* {{ end }} */}}

            {{/* {{ with .Params.source_code }} */}}
            {{/* <a class="btn btn-outline-info dl-btn" href="{{ . }}" role="button">{{ i18n "sourceCode" . }}</a> */}}
            {{/* {{ end }} */}}

        </div>
        {{ end }} <!-- end range first -->
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="summary">
                {{ .Content }}
            </div>

            <h2>{{ i18n "previousReleases" }}</h2>
            <ul class="posts">
                {{ range .Data.Pages -}}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ if not .Date.IsZero }}
                    <time>
                        {{ if and (.IsTranslated) (eq .Lang "fr") }}
                            {{ .Date.Day }} {{ index $.Site.Data.moisabbrev (printf "%d" .Date.Month) }} {{ .Date.Year }}.
                        {{ else }}
                            {{ .Date.Format "January 2, 2006" }}.
                        {{ end }}
                    </time>
                    {{end}}
                </li>
                {{- end }}
            </ul>
        </div>
    </div>
</section>

{{ end }}
