{{ define "main" }}

<section class='page container mt-5'>

    <div class='row justify-content-center'>

        <div class='col-lg-8'>

            <h1 class="title">{{ .Title }}</h1>

            {{- range (where .Site.RegularPages "Type" "in" (slice "download" "posts")).GroupByDate "2006" }}
            <div class="mt-5">

                <h2 class="post-year border-top border-bottom border-secondary">{{ .Key }}</h2>

                {{- range .Pages }}
                <h3 class='mt-4 mb-n1'>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h3>

                {{ if not .Date.IsZero }}
                <time class="font-italic mb-1 d-block" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                    <small>
                        {{ if and (.IsTranslated) (eq .Lang "fr") }}
                            {{ .Date.Day }} {{ index $.Site.Data.moisabbrev (printf "%d" .Date.Month) }} {{ .Date.Year }}.
                        {{ else }}
                            {{- .Date.Format (.Site.Params.dateform | default "02 Jan 2006") }}
                        {{ end }}

                        {{ with .Params.author }}
                            {{ i18n "by" | lower }}
                            {{ . -}}
                        {{ end }}
                    </small>
                </time>
                {{ end }}

                <p>
                    {{ .Summary | safeHTML }}
                    {{ if .Truncated }}
                    <br>
                    <span>
                        <a href="{{ .Permalink }}">[{{ i18n "readMore" }}]</a>
                    </span>
                    {{- end }}
                </p>

                {{- end }}

            </div>
            {{- end }}

        </div>

    </div>

</section>

{{ end }}
