		<span class="dropdown">
			<button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Linux
			</button>
			<ul class="dropdown-menu">
				{{ with .Params.linux_appimage }}
          <a class="dropdown-item" href="{{ . }}" role="button" target='_blank' onclick="setTimeout( () => {window.location='{{ relLangURL "donate/" }}?dl=1'}, 500)">
						<span class='dl-type'>{{ i18n "appImage" . }}</span>
						<span class='dl-os'>{{ i18n "linux" . }}</span>
				</a>
				{{ end }}
				<a class="dropdown-item" href='https://flathub.org/apps/details/org.free_astro.siril' target='_blank' onclick="setTimeout( () => {window.location='{{ relLangURL "donate/" }}?dl=1'}, 500)">
					Flatpak Linux
				</a>

			</ul>
		</span>


    {{/* {{ with .Params.linux_appimage }} */}}
    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
    {{/*   <span> */}}
    {{/*     <span class='dl-type'>{{ i18n "appImage" . }}</span> */}}
    {{/*     <span class='dl-os'>{{ i18n "linux" . }}</span> */}}
    {{/*   </span> */}}
    {{/* </a> */}}
    {{/* {{ end }} */}}
    
    {{ with .Params.linux_binary_32 }}
    <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button" target='_blank' onclick="setTimeout( () => {window.location='{{ relLangURL "donate/" }}?dl=1'}, 500)">
        <span>
            <span class='dl-type'>{{ i18n "binary" . }} {{ i18n "32bit" . }}</span>
            <span class='dl-os'>{{ i18n "linux" . }}</span>
        </span>
    </a>
    {{ end }}

    {{ with .Params.linux_binary_64 }}
    <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button" target='_blank' onclick="setTimeout( () => {window.location='{{ relLangURL "donate/" }}?dl=1'}, 500)">
        <span>
            <span class='dl-type'>{{ i18n "binary" . }} {{ i18n "64bit" . }}</span>
            <span class='dl-os'>{{ i18n "linux" . }}</span>
        </span>
    </a>
    {{ end }}

		<span class="dropdown">
			<button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Windows
			</button>
			<ul class="dropdown-menu">
				{{ with .Params.windows_binary }}
				<a class="dropdown-item" href="{{ . }}" target='_blank' onclick="setTimeout( () => {window.location='{{ relLangURL "donate/" }}?dl=1'}, 500)">
						<span class='dl-type'>{{ i18n "64bit" . }}</span>
						<span class='dl-os'>{{ i18n "windows" . }}</span>
				</a>
				{{ end }}
	
				{{ with .Params.windows_portable }}
				<a class="dropdown-item" href="{{ . }}" target='_blank' onclick="setTimeout( () => {window.location='{{ relLangURL "donate/" }}?dl=1'}, 500)">
						<span class='dl-type'>{{ i18n "portable" . }}</span>
						<span class='dl-os'>{{ i18n "windows" . }}</span>
				</a>
				{{ end }}
			</ul>
		</span>	

    {{/* {{ with .Params.windows_binary }} */}}
    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
    {{/*     <span class='dl-type'>{{ i18n "64bit" . }}</span> */}}
    {{/*     <span class='dl-os'>{{ i18n "windows" . }}</span> */}}
    {{/* </a> */}}
    {{/* {{ end }} */}}

    {{/* {{ with .Params.windows_32_binary }} */}}
    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
    {{/*     <span class='dl-type'>{{ i18n "32bit" . }}</span> */}}
    {{/*     <span class='dl-os'>{{ i18n "windowsXp" . }}</span> */}}
    {{/* </a> */}}
    {{/* {{ end }} */}}

		<span class="dropdown">
			<button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				macOS
			</button>
			<ul class="dropdown-menu">
				{{ with .Params.mac_binary }}
				<a class="dropdown-item" href="{{ . }}" role="button" target='_blank' onclick="setTimeout( () => {window.location='{{ relLangURL "donate/" }}?dl=1'}, 500)">
						<span class='dl-type'>{{ i18n "intel" . }}</span>
						<span class='dl-os'>{{ i18n "mac" . }}</span>
				</a>
				{{ end }}
				{{ with .Params.mac_arm }}
				<a class="dropdown-item" href="{{ . }}" role="button" target='_blank' onclick="setTimeout( () => {window.location='{{ relLangURL "donate/" }}?dl=1'}, 500)">
						<span class='dl-type'>{{ i18n "silicon" . }}</span>
						<span class='dl-os'>{{ i18n "mac" . }}</span>
				</a>
				{{ end }}
			</ul>
		</span>

    {{/* {{ with .Params.mac_binary }} */}}
    {{/* <a class="btn btn-outline-success dl-btn" href="{{ . }}" role="button"> */}}
    {{/*     <span class='dl-type'>{{ i18n "64bit" . }}</span> */}}
    {{/*     <span class='dl-os'>{{ i18n "mac" . }}</span> */}}
    {{/* </a> */}}
    {{/* {{ end }} */}}

    {{ with .Params.source_code }}
    <a class="btn btn-outline-info dl-btn mt-2 mt-sm-0" href="{{ . }}" role="button" target='_blank' onclick="setTimeout( () => {window.location='{{ relLangURL "donate/" }}?dl=1'}, 500)">{{ i18n "sourceCode" . }}</a>
    {{ end }}
