<section id="lede-hero" style="">

    <div class="hero__content text-center px-3">
        <div class='row'>
            <div class='col-md-6 text-md-end'>
                <img src="/free_astro.siril.svg" alt="Siril Logo" class="align-text-bottom d-none d-lg-inline" height="175">
                <img src="/free_astro.siril.svg" alt="Siril Logo" class="align-text-bottom d-inline d-lg-none" height="120">
            </div>
            <div class='col-md-6 my-auto text-md-start'>
                <h1 class='display-2 mb-0'>Siril</h1>
            </div>
        </div>
        <div class='row'>
        <h2 class='mt-0'>{{ i18n "slogan" . }}</h2>
        </div>

	<div class="row">

            {{ range first 1 (where .Site.RegularPages "Type" "download") }}

            <div class='dl-buttons text-center'>
                <div>{{ i18n "indexDownloadText" . }} {{ .Params.version }} {{ i18n "releasedOn" . }}
                    {{ if and (.IsTranslated) (eq .Lang "fr") }}
                        {{ .Date.Day }}  {{ index $.Site.Data.mois (printf "%d" .Date.Month) }}  {{ .Date.Year }}.
                    {{ else }}
                        {{ .Date.Format "January 2, 2006" }}.
                    {{ end }}
                    <small class='text-nowrap'>(<a href="{{ .Permalink }}">{{ i18n "releaseNotes" . }}</a>)</small>
                </div>
                <br>

		{{ partial "download-buttons.html" . }}

            </div>

            {{ end }}
	</div>
	    <div class='row citation'>
		<p>
		    {{ i18n "citation" . | safeHTML }}
		</p>
	    </div>
    </div>




    <img src="/images/lede-hero/SxTRr-_Hnowx_1824x0_cczXV3LN.jpg" alt="">
    <img src="/images/lede-hero/G_A9i-f5PddJ_1824x0_Qam0s4nf.jpg" alt="">
    <img src="/images/lede-hero/bCN6QdAu1zNf_1824x0_cczXV3LN.jpg" alt="">
    <img src="/images/lede-hero/8f0txgJCYhid_1824x0_cczXV3LN.jpg" alt="">
    <img src="/images/lede-hero/ZP_wGGBUdlly_1824x0_8KqOq8wO.jpg" alt="">

</section>
